{% extends "base.html" %}

{% block title %}Capture Images{% endblock title %}
{% block captureactive %}active{% endblock captureactive %}


{% block body %}
{% block extra_css %}
<style>
    .bg-image{
        filter: blur(8px);
    -webkit-filter: blur(8px);
    }
</style> 
{% endblock extra_css %}

<div class="container bg-white p-4 rounded shadow" style="max-width: 1400px;">
    <h2>Live Video Feed</h2>
    <img src="{% url 'video_feed' %}" width="640" height="480">

    <form action="{% url 'capture_image' %}" method="post">
        {% csrf_token %}
        <button type="submit">Capture</button>
    </form>
</div>
<script>
    window.addEventListener("beforeunload", function () {
        fetch("{% url 'stop_camera' %}", { method: "POST" });  // Call stop_camera when user leaves
    });
</script>
{% endblock body %}