{% extends 'base.html' %}
{% load static %}

{% block page_title %}Take Attendance{% endblock page_title %}

{% block body %}
<section class="content">
    <div class="container-fluid">
        <h1>Take Attendance</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="image">Upload Image</label>
                <input type="file" id="image" name="image" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary ">Submit</button>
        </form>

        {% if detected_faces %}
        <h3>Detected Faces</h3>
        <ul>
            {% for face in detected_faces %}
            <li>{{ face }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if processed_image_path %}
        <h3>Processed Image</h3>
        <img src="{{ processed_image_path }}" class="img-fluid" alt="Processed Image">
        {% endif %}
    </div>
</section>
{% endblock body %}
